.mi-warehouse {
    mask-image: url(Icon\ Warehouse.svg);
    -webkit-mask-image: url(Icon\ Warehouse.svg);
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    background-color: #4b5563;
}

.icon-dropdown-up {
    -webkit-mask-position: -180px -16px;
    mask-position: -180px -16px;
}

.angle-down-small {
    -webkit-mask-position: -32px 0px;
    mask-position: -32px 0px;
}

.icon-chevron-right {
    -webkit-mask-position: -220px -16px;
    mask-position: -220px -16px;
}

.logo-menu {
    -webkit-mask-position: 0px -35px;
    mask-position: 0px -35px;
    cursor: pointer;
}

.plus {
    -webkit-mask-position: -80px 0px;
    mask-position: -80px 0px;
}

.reload {
    -webkit-mask-position: -112px 0px;
    mask-position: -112px 0px;
}

.search {
    -webkit-mask-position: 0px 0px;
    mask-position: 0px 0px;
}

.filter {
    -webkit-mask-position: -544px 0px;
    mask-position: -544px 0px;
}

.step-backward {
    -webkit-mask-position: -143px 0px;
    mask-position: -143px 0px;
}

.step-forward {
    -webkit-mask-position: -160px 0px;
    mask-position: -160px 0px;
}

.angle-left {
    -webkit-mask-position: -48px 0px;
    mask-position: -48px 0px;
}

.angle-right {
    -webkit-mask-position: -64px 0px;
    mask-position: -64px 0px;
}

.angle-down {
    -webkit-mask-position: -202px -18px;
    mask-position: -202px -18px;
}

.close {
    -webkit-mask-position: -299px -16px;
    mask-position: -299px -16px;
}

.clock {
    -webkit-mask-position: -385px -1px;
    mask-position: -385px -1px;
}

.calendar {
    -webkit-mask-position: -369px -1px;
    mask-position: -369px -1px;
}

.ic-help {
    -webkit-mask-position: -279px -16px;
    mask-position: -279px -16px;
}

.pencil {
    -webkit-mask-position: -271px 0px;
    mask-position: -271px 0px;
}

.feature-more-blue {
    -webkit-mask-position: -288px 0px;
    mask-position: -288px 0px;
}

.duplicate {
    -webkit-mask-position: -224px 0px;
    mask-position: -224px 0px;
}

.empty {
    -webkit-mask-position: -176px 0px;
    mask-position: -176px 0px;
}

.trash {
    -webkit-mask-position: -208px 0px;
    mask-position: -208px 0px;
    background-color: #f04438 !important;
}